# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


Debug/
bin/
obj/
obj/Debug/Singleton.exe
*.pdb
*.suo
*.user
*.cache
.exe

DesignPattern/Prototype/obj/Debug/Prototype.exe
*.exe
DesignPattern\Prototype\obj\Debug*/
DesignPattern/AbstractFactory/obj/Debug/AbstractFactory.exe
DesignPattern/AbstractFactory/obj/Debug/AbstractFactory.exe
DesignPattern/Prototype/obj/Debug/Prototype.csprojResolveAssemblyReference.cache
DesignPattern/AbstractFactory/obj/Debug/AbstractFactory.pdb
*.exe
DesignPattern/AbstractFactory/obj/Debug/AbstractFactory.exe
DesignPattern\AbstractFactory\obj\Debug*/
DesignPattern/AbstractFactory/obj/Debug/AbstractFactory.exe
*.pdb
DesignPattern\Prototype\obj\Debug*/
DesignPattern/Prototype/obj/Debug/Prototype.exe
*.cache
DesignPattern/Prototype/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DesignPattern/AbstractFactory/obj/Debug/AbstractFactory.exe
DesignPattern/AbstractFactory/obj/Debug/AbstractFactory.exe